<html lang="en">
<%- include("./partials/head.ejs") %>

<body id="test">
    <div class="jumbotron text-center row" id="index_header">
        <!-- Left-side checkered flag image using an svg and polygon mask to create an angled cutoff -->
        <div class="col-md-3 header_image_container">
            <svg width="535" height="115" style="float:left">
                <mask id="svgmask1">
                    <polygon fill="#ffffff" points="0 0, 450 0, 535 115, 0 115"></polygon>
                </mask>
                <image xlink:href="<%= static %>/checkered.jpg" mask="url(#svgmask1)"></image>
            </svg>
        </div>
        <!-- Text header to display current race and group -->
        <div class="col-md-6">
            <h1 id="index_title">AWANA Grand Prix</h1>
            <p>Welcome Clubbers and Families</p> 
        </div>
        <!-- Right-side checkered flag image using an svg and polygon mask to create an angled cutoff -->
        <div class="col-md-3 header_image_container">
            <svg width="535" height="115" style="float:right">
                <mask id="svgmask2">
                    <polygon fill="#ffffff" points="0 0, 535 0, 535 115, 85 115"></polygon>
                </mask>
                <image xlink:href="<%= static %>/checkered.jpg" mask="url(#svgmask2)"></image>
            </svg>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <form class="col-md-6">
            <div class="row justify-content-center">
                <div class="col-md-12 justify-content-center">
                    <input list="fnames" name="fname" id="fname" placeholder="First Name" class="form-control">
                    
                    <% if (racers.fnames.length !== 0 ) { %>
                        <datalist id="fnames">
                            <% let fnames = Object.keys(racers.fnames) %>
                            <% fnames.forEach((fname) => { %>
                                <% let lnames = racers.fnames[fname] %>
                                <% lnames = String(lnames).replace(",", " ") %>
                                <option id="<%= fname %>" class="<%= lnames %>" value="<%= fname %>"></option>
                            <% }) %>
                        </datalist>
                    <% } %>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <input list="lnames" name="lname" id="lname" placeholder="Last Name" class="form-control">

                    <% if (racers.lnames.length !== 0 ) { %>
                        <datalist id="lnames">
                            <% let lnames = Object.keys(racers.lnames) %>
                            <% lnames.forEach((lname) => { %>
                                <% let fnames = racers.lnames[lname] %>
                                <% fnames = String(fnames).replace(",", " ") %>
                                <option id="<%= lname %>" class="<%= fnames %>" value="<%= lname %>"></option>
                            <% }) %>
                        </datalist>
                    <% } %>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <button type="button" class="btn btn-success btn-lg col-md-10" onclick="submit_form(1)">3rd / 4th</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <button type="button" class="btn btn-primary btn-lg col-md-10" onclick="submit_form(2)">5th / 6th</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <button type="button" class="btn btn-warning btn-lg col-md-10" onclick="submit_form(3)">Trek / Journey / Leaders</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="text-center w-100">
        <button type="button" class="btn btn-secondary w-25" onclick="reset_race()">Ready Races</button>
        <a href="/race"><button type="button" class="btn btn-secondary w-25">Go to Race Screen</button></a>
        <br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="alert col-md-8" role="alert" id="alert">
                <h3 id="alert-1">This is a test</h1>
                <h3 id="alert-2">Temp</h1>
            </div>
        </div>
    </div>
</body>
</html>