<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <div class="jumbotron text-center row" id="race_header">
        <!-- Left-side checkered flag image using an svg and polygon mask to create an angled cutoff -->
        <div class="col-md-3 header_image_container">
            <svg width="535" height="115" style="float:left">
                <mask id="svgmask1">
                    <polygon fill="#ffffff" points="0 0, 450 0, 535 115, 0 115"></polygon>
                </mask>
                <image xlink:href="<%= static %>/checkered.jpg" mask="url(#svgmask1)"></image>
            </svg>
        </div>
        <!-- Text header to display current race and group -->
        <div class="col-md-6">
            <h1>Next Racers</h1>
        </div>
        <!-- Right-side checkered flag image using an svg and polygon mask to create an angled cutoff -->
        <div class="col-md-3 header_image_container">
            <svg width="535" height="115" style="float:right">
                <mask id="svgmask2">
                    <polygon fill="#ffffff" points="0 0, 535 0, 535 115, 85 115"></polygon>
                </mask>
                <image xlink:href="<%= static %>/checkered.jpg" mask="url(#svgmask2)"></image>
            </svg>
        </div>
    </div>

    <div class="col-md-1"></div>

    <!-- Create a racer button for each racer passed into the ejs -->
    <div class="col-md-10" id="racerButton">
        <% for (let i = 1; i <= 8; i++) { %>
            <div class="row">
                <% let racer = racers[i - 1] %>
                <% let html = (racer === undefined) ? "#[Num]: [FName] [LName]" : "#" + racer.number + ": " + racer.fname + " " + racer.lname %>
                <button style="color: black; <%= (racer === undefined) ? 'display: none' : '' %>" type="button" class="btn racerButton" id="racerButton-<%= i %>"><%= html %></button>
            </div>
        <% } %>
    </div>

    <div class="jumbotron text-center row" id="upNext">
        <h1 id="upNextText">Up Next: Heat 1</h1>
    </div>
</body>
</html>