<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <!-- Header for race page -->
    <div class="jumbotron text-center row" id="race_header">
        <!-- Left-side checkered flag image using an svg and polygon mask to create an angled cutoff -->
        <div class="col-md-3 header_image_container">
            <svg width="535" height="115" style="float:left">
                <mask id="svgmask1">
                    <polygon fill="#ffffff" points="0 0, 450 0, 535 115, 0 115"></polygon>
                </mask>
                <image xlink:href="<%= static %>/checkered.jpg" mask="url(#svgmask1)"></image>
            </svg>
        </div>
        <!-- Text header to display current race and group -->
        <div class="col-md-6">
            <h1><strong><span><%= raceName === "Heat 2 Upper" || raceName === "Heat 2 Lower" ? "Heat 2" : raceName %></span><span>Group <%= racers[0].group %></span></strong></h1>
        </div>
        <!-- Right-side checkered flag image using an svg and polygon mask to create an angled cutoff -->
        <div class="col-md-3 header_image_container">
            <svg width="535" height="115" style="float:right">
                <mask id="svgmask2">
                    <polygon fill="#ffffff" points="0 0, 535 0, 535 115, 85 115"></polygon>
                </mask>
                <image xlink:href="<%= static %>/checkered.jpg" mask="url(#svgmask2)"></image>
            </svg>
        </div>
    </div>

    <!-- Column spacer -->
    <div class="col-md-1"></div>

    <!-- Create a racer button for each racer passed into the ejs -->
    <div class="col-md-4" id="racerButton">
        <% i = 1 %>
        <% racers.forEach((racer) => { %>
            <div class="row">
                <button style="color: black" type="button" class="btn racerButton" id="racerButton-<%= i %>">#<%= racer.number %>: <%= racer.fname %> <%= racer.lname %></button>
                <input type="hidden" id="racerID-<%= i++ %>" value="<%= racer._id %>">
            </div>
        <% }) %>
    </div>

    <!-- Column spacer -->
    <div class="col-md-1"></div>

    <!-- Create a place button that shows what place they got in the race -->
    <div class="col-md-1" id="placeButton">
        <% for (let i = 1; i <= 8; i++) { %>
            <div class="row">
                <button type="button" class="btn btn-secondary placeButton" id="placeButton-<%= i %>"><%= i %></button>
            </div>
        <% } %>
    </div>

    <!-- Column spacer -->
    <div class="col-md-1"></div>

    <!-- Create an advancing button based on the number of racers to show who is advancing -->
    <div class="col-md-3" id="advancing">
        <div class="row">
            <h1>&nbsp;<%= raceName === "Finals" ? "Winners" : "Advancing" %>&nbsp;</h1>
        </div>
        <% let numAdvancing = (numWinners === undefined ? (raceName === "Finals" ? 3 : Math.ceil(racers.length / 3)) : (numWinners <= 2 ? 3 : Math.ceil(racers.length / 3))) %>
        <% for (let i = 1; i <= numAdvancing; i++) { %>
            <div class="row">
                <button type="button"  style="color: black" class="btn advancingButton" id="advancingButton-<%= i %>">Racer #<%= i %></button>
            </div>
        <% } %>
    </div>
</body>
</html>